#main {
    text-align: center;
    margin: auto;
    width: 700px;
    height: 700px;
    background-color: rgba(229, 220, 220, 0.427);
    padding: 10px 10px;
    margin: 0 auto;
}
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}

form label {
    color: black;
    font-size: 2rem;
    width: 10rem;
}


form input {
    background-color: rgb(236, 227, 227);
    width: 25rem;
    height: 4rem;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.1rem;    
}

#signup {
    color: white;
    font-size: 1.5rem;
    width: 7rem;
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: rgb(92, 92, 245);
    border-radius: 0.5rem;

}
#signup:hover {
    cursor: pointer;
    background-color: rgb(125, 212, 240)
}
#paragraph {
    font-size: 1.5rem;
}
#paragraph-a {
    text-decoration: none;
}
#paragraph-a:hover{
    cursor: pointer;
    color: rgb(160, 222, 243)
}
#button {
    margin-bottom: 5rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
}
#button:hover {
    cursor: pointer;
    background-color: rgb(232, 226, 226);
}